<h1>Media</h1>

<h2>Read our Stories</h2>

<p>CrowdRescue HQ volunteers are a passionate crew, and it shows in our words. Whether highlighting our own volunteers or the people we serve, one of our most important missions is to tell people's stories.</p>

<p>Visit our blog page on <%= link_to 'Medium', 'https://medium.com/crowd-rescue-hq' %></p>

<hr>

<h2>Download Resources</h2>

<p>CrowdRescue HQ strives to amplify tools and practices aimed at achieving one simple goal: <i>to help people in need</i>. We create infographics and other resources designed to help people in post-disaster environments, and offer them for download and sharing.</p>

<p>View resources designed to support post-disaster recovery in <%= link_to "Puerto Rico", infographics_path %></p>
<!-- I'd link to http://www.crowdrescuehq.org/infographics-puerto-rico, but it's empty -->

<hr>

<h2>Watch CrowdRescue HQ in the News</h2>

<p>CrowdRescue HQ is always looking for press partners who feel as passionately about helping people as we do. Our work has been featured in major news outlets, such as <%= link_to 'CNN', 'http://www.cnn.com/2017/09/11/us/social-media-irma-rescue-trnd/index.html?sr=twCNN091117social-media-irma-rescue-trnd0216PMVODtop' %>, <%= link_to 'Time', 'http://time.com/4921961/hurricane-harvey-twitter-facebook-social-media/' %>, <%= link_to 'The Atlantic', 'https://www.theatlantic.com/technology/archive/2017/08/harvey-rescue-twitter/538191/' %>, and <%= link_to 'Forbes', 'https://www.forbes.com/sites/judystone/2017/09/30/some-heroes-wear-pajamas-crowdrescuehq-steps-in-where-trump-is-failing-puerto-rico/#6c291552648a' %>.</p>

<p>Contact us for consult, feature pieces, and presentations.</p>