<!DOCTYPE html>
<html>
  <head>
    <title>CrowdRescue HQ</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag %>

    <!-- jquery -->
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.1.1.min.js' %>

    <!-- bootstrap -->
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' %>
    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- fontawesome -->
    <%= javascript_include_tag 'https://use.fontawesome.com/4cf802a098.js' %>

    <!-- turbolinks -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="jumbotron text-center" id="header-image">
      <%= image_tag "CRHQ_Logo.png", class: 'img' %>
    </div>
    <nav class="navbar-expand-md sticky-top navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse nav-justified" id="navbarSupportedContent">
        <ul class="navbar-nav nav-justified mr-auto container">
          <li class="nav-item <%= 'active' if params[:active] == 'home' %>">
            <%= link_to "Home", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if params[:active] == 'about' %>">
            <%= link_to "About", about_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if params[:active] == 'volunteers' %>">
            <%= link_to "Volunteers", volunteers_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if params[:active] == 'media' %>">
            <%= link_to "Media", media_path, class: 'nav-link' %>
          </li>
          <li class="nav-item <%= 'active' if params[:active] == 'pr_map' %>">
            <%= link_to "Puerto Rico Info Map", pr_map_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

    <% flash.each do |k, v| %>
      <div class="alert alert-<%= k == 'alert' ? 'danger' : (k == 'notice' ? 'info' : k) %>">
        <%= v %>
      </div>
    <% end %>

    <div class="container">
      <%= yield %>

      <hr>

      <h2>Learn More</h2>

      <p>Read about <%= link_to "Our Story", our_story_path %></p>

      <hr>

      <p>CrowdRescue HQ is a mission-driven organization. Right now we are focused on our own: <i>Who are we? Where can we improve? What opportunities do we anticipate seeking? How can we do better to support people and other organizations doing good things?</i> Stay tuned. We have exciting things in store!</p>

      <p>Read about our <%= link_to "Past Projects", past_projects_path %></p>

      <hr>

      <h2>Contact Us</h2>

      <p><strong>Email:</strong> <%= link_to 'CrowdRescueHQ@gmail.com', 'mailto:CrowdRescueHQ@gmail.com' %></p>

    </div>
  </body>
</html>
